body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right, transparent, #669bbc);
  position: relative;
}
.content {
  width: 100%;
  height: 90vh;
  .bar-side {
    border-radius: 0px 0px 10px 0px;
    display: none;
    position: fixed;
    width: 250px;
    height: 90%;
    background-color: black;
    color: white;
    ul {
      width: 100%;
      height: 100%;
      li {
        width: 100%;
        list-style: none;
        &:first-child {
          display: flex;
          align-items: center;
          justify-content: space-around;
          h2 {
            text-transform: capitalize;
          }
        }
        .imge-info {
          width: 80px;
          height: 80px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
        a {
          display: inline-block;
          width: 100%;
          text-decoration: none;
          color: white;
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 30px;
          padding: 10px 0;
          border-radius: 20px;
          gap: 100px;
          transition: background-color 0.2s linear;
          &:hover {
            background-color: rgba(255, 1, 1, 0.445);
          }
          span {
            text-transform: capitalize;
          }
          i {
            text-align: center;
            width: 50px;
            font-size: 30px;
          }
        }
      }
    }
  }
  .main-content {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    a {
      text-decoration: none;
      display: inline-block;
      overflow: hidden;
      width: 250px;
      height: 250px;
      flex-grow: 1;
      border-radius: 20px;
      & > div {
        &.creatExam {
          background-color: #1c6960;
          transition: background-color 0.2s linear;
          &:hover {
            background-color: #134640;
          }
        }
        &.takeExam {
          background-color: #c76046;
          transition: background-color 0.2s linear;
          &:hover {
            background-color: #7e3825;
          }
        }
        width: 100%;
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        p {
          width: 100%;
          text-align: center;
          font-size: 30px;
          text-transform: capitalize;
        }
        div {
          width: 100%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: space-around;
          i {
            font-size: 30px;
          }
          span {
            text-transform: capitalize;
            font-size: 25px;
          }
        }
      }
    }
    .registExam {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      align-items: center;
      justify-content: center;
      form {
        position: relative;
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.801);
        flex-direction: column;
        gap: 10px;
        padding: 20px 5px;
        border-radius: 20px;
        i {
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 30px;
          cursor: pointer;
          color: white;
        }
        input {
          flex-grow: 1;
          padding: 10px;
          border-radius: 20px;
          border: none;
          outline: none;
          font-size: 20px;
          text-transform: capitalize;
          border: 2px solid #00924e;
          transition: box-shadow 0.2s linear;
          &:focus {
            box-shadow: 0 0 10px 0 #00924e;
          }
        }
        label {
          display: inline-block;
          widows: 100%;
          align-self: flex-start;
          font-weight: bold;
          color: white;
          text-transform: capitalize;
          font-size: 20px;
        }
        h2{
          font-weight: bold;
          color: white;
        }
        button {
          border: none;
          outline: none;
          cursor: pointer;
          background-color: transparent;
          border: 2px solid #00924e;
          padding: 10px;
          border-radius: 20px;
          color: white;
          text-transform: capitalize;
          transition: background-color 0.2s linear;
          font-size: 20px;
          &:hover {
            background-color: #00924e;
          }
        }
      }
    }
  }
}
